*{
    margin: 0;
    padding:0;
}

nav {
    width: 100%;
    height: 100px;
    background-color: rgb(10, 31, 151);
}

body{
 background-color: rgb(215, 218, 228);
}
ul{
    display: flex;
    justify-content: center;
    margin: 70px;
}

ul li {
list-style: none;
display: inline-block;
line-height:100px ;

}

ul a {
 display: block;
 text-decoration: none;
 font-size: 25px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color:rgb(181, 225, 113);
 padding: 0 20px;
 margin-inline: 100;
 display: flex;
 justify-content: center;
}

ul li a:hover{
    color: rgb(216, 40, 40);

}

footer {
    display: flex;
    justify-content: center;
    background-color:rgb(69, 6, 196);  
    color:rgb(201, 181, 186);
}

.footerContainer{
    width: 100%;
    
}
.imgcontainer{
    text-align: center;
    margin: 30px;
}
table ,th, td{
    border: 1px solid;
    color: rgb(4, 14, 118);
    padding: 10px;
    margin: 50px;
    size: 150;
    text-align: center;

}
p{
    font-size: 21px;
}
h1{
    margin: 20px;
}
hr{
    width:200;
    size: 4;
    color:rgb(44, 29, 29);
    margin:0px;
}
.body{
    background-color:rgb(210, 212, 220);
    color:rgba(19, 13, 191, 0.922);
    size: 60px;
    margin-top: 40px;
}